#titlebar {
  height: 30px;
  background-color: var(--titlebar);
  display: flex;
  user-select: none;
  text-align: center;
  overflow: hidden;
  -webkit-app-region: drag;
}

#titlebar .fas {
  color: var(--gray-light);
  font-size: 17px;
  width: 40px;
  line-height: 30px;
  -webkit-app-region: no-drag;
  display: inline-block;
}
#titlebar .fas:hover {
  color: white;
}

#titlebar h1 {
  color: white;
  width: 100%;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  align-self: center;
}

#titlebar span {
  min-width: 35px;
}
